.light {
  background-color: aqua;
  height: 85.5vh;
  width: 85.8%;
  display: flex;
  padding: 100px 0 0 200px;
}

.sun {
  height: 300px;
  width: 300px;
  background-color: yellow;
  border-radius: 100%;
}
.dark {
  background-color: rgb(24, 54, 54);
  height: 85.5vh;
  width: 85.8%;
  display: flex;
  padding: 100px 0 0 200px;
}

.moon {
  height: 300px;
  width: 300px;
  background-color: rgb(193, 193, 193);
  border-radius: 100%;
}